@import "tailwindcss";

/* Hide scrollbar in WebKit (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
        display: none;
      }
/* styles.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}      
@keyframes glowPulse {
  0% {
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.5), 0 0 30px rgba(59, 130, 246, 0.3);
  }
  50% {
    box-shadow: 0 0 25px rgba(59, 130, 246, 0.8), 0 0 50px rgba(59, 130, 246, 0.5);
  }
  100% {
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.5), 0 0 30px rgba(59, 130, 246, 0.3);
  }
}

.animate-glow {
  animation: glowPulse 3s infinite ease-in-out;
  border: 1px solid rgba(59, 130, 246, 0.5);
}
